* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;

  background-color: #f9f5ed;
}

header {
  margin: 0 auto;

  padding: 16px 32px;
  max-width: 1200px;

  display: flex;
  align-items: center;
}

header .drawer-button {
  display: none;

  padding: 8px;
  border: 0;
  border-radius: 4px;

  font-weight: bold;
  font-size: 28px;
  color: #141e16;

  background-color: transparent;

  cursor: pointer;
}

header img {
  margin-right: 32px;
}

header nav ul li {
  display: inline;
}

header nav ul li a {
  display: inline-block;
  padding: 16px 32px;

  color: #141e16;
  text-decoration: none;
}

main {
  padding: 16px 32px;
  margin: 0 auto;
  max-width: 1200px;

  display: flex;
  align-items: center;
}

main .content {
  padding: 16px;
  flex: 4;
}

main .content h2 {
  font-size: 64px;
  font-weight: bold;
}

main .content p {
  font-size: 18px;
  margin-top: 32px;
}

main .content button {
  margin-top: 64px;
  padding: 12px 16px;
  border: 0;
  border-radius: 8px;

  background-color: #3b855b;

  font-size: 18px;
  font-weight: bold;
  color: white;

  cursor: pointer;
}

main .hero-image {
  flex: 5;
  padding: 16px;
}

main .hero-image img {
  width: 100%;
}

@media (max-width: 750px) {
  header {
    justify-content: space-between;
  }

  header .drawer-button {
    display: inline-block;
  }

  header nav {
    background-color: white;
    min-height: 100vh;
    width: 200px;

    position: fixed;
    top: 0;
    left: 0;

    transform: translateX(-200px);
    transition: transform 0.3s ease-in-out;
  }

  header nav ul li,
  header nav ul li a {
    display: block;
  }

  header nav.open {
    transform: translateX(0);
  }

  main {
    flex-direction: column;
  }
}

@media (max-width: 1000px) {
  main .content h2 {
    font-size: 48px;
  }
}
